@model Snippetgrab.Models.SnippetModel

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Snippet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SnippetToDisplay.Item2.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SnippetToDisplay.Item2.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SnippetToDisplay.Item1.Points)
        </dt>

        <dd>
            @using (Html.BeginForm("ChangePoint", "Snippet", FormMethod.Post))
            {
                <div>
                    <input id="Hidden1" name="snippetId" type="hidden" value="@Model.SnippetToDisplay.Item1.ID" />
                    <input type="submit" value="+" name="point" onclick="disable" class="btn btn-default btn-sm" />
                    <p>Points: @Model.SnippetToDisplay.Item1.Points</p>
                    <input type="submit" value="-" name="point" onclick="disable" class="btn btn-default btn-sm" />
                </div>
            }        
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SnippetToDisplay.Item1.IsPrivate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SnippetToDisplay.Item1.IsPrivate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SnippetToDisplay.Item1.Code)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.SnippetToDisplay.Item1.Code, new { rows=20, cols=80})
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.SnippetToDisplay.Item1.Tags)
        </dt>

        <div class="col-md-3">
            @{
                foreach (var tag in Model.SnippetToDisplay.Item1.Tags)
                {
                    //<p>@tag.Text</p>
                    @Html.Label(@tag.Text) <br/>
                }
            }
        </div>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
