@model Snippetgrab.Models.ProblemModel

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>
<div>
    <h4>Problem</h4>
    <hr />
    <div class="col-md-4">
        <div class="container">
            <p>Posted by:</p> 
            <p>@Model.ProblemToDisplay.Item2.Name</p>
            <p>Points: @Model.ProblemToDisplay.Item1.Points</p>
            <p>Tags:</p>
            @{
                foreach (var tag in @Model.ProblemToDisplay.Item1.Tags)
                {
                    <p>@tag.Text</p>
                }
            }
        </div>
    </div>
    
    <div class="col-md-8">
        <h3>@Model.ProblemToDisplay.Item1.Title</h3> <br />
        <p>@Model.ProblemToDisplay.Item1.Text</p>
        <hr />
        <div class="container">
            <h3>Comments</h3>
            @{
                foreach (var comment in @Model.Comments)
                {
                    <div>
                        <p>@comment.Key.Text</p>
                    </div>
                    <div>
                        <p>Posted by: @comment.Value.Name</p>
                    </div>
                    <hr/>
                }
            }
        </div>
        <div>
            @using (Html.BeginForm("Detail", "Problem", FormMethod.Post))
            {
                <h3>Add Comment</h3>
                <input id="Hidden1" name="ProblemId" type="hidden" value="@Model.ProblemToDisplay.Item1.ID"/>
                <textarea id="comment" name="commentText" rows="6" cols="40" class="form-control"></textarea><br />
                <br/>
                <input id="PostNewComment" type="submit" value="Post comment" class="btn btn-primary"/>
            }
        </div>
    </div>
    
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
