@model Snippetgrab.Models.ProblemModel

@{
    ViewBag.Title = "Problems";
}

<h2>Problems</h2>
<p>Have a problem of your own? Ask the comunity right @Html.ActionLink("here!", "Add", "Problem", new { }, htmlAttributes: null)</p>
<hr />
<div class="col-md-10">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p>Title</p>
            </div>
            <div class="col-md-3">
                <p>Uploader</p>
            </div>
            <div class="col-md-2">
                <p>Points</p>
            </div>
            <div class="col-md-2">
                <p>Link</p>
            </div>
            <div class="col-md-2">
                <p>Tag</p>
            </div>
        </div>

        @{
            foreach (var problem in Model.Problems)
            {
                <div class="container" style="border-bottom: solid; border-color: grey; border-width: 1px">
                    <div class="row">
                        <div class="col-md-3">
                            <p>@problem.Key.Title</p>
                        </div>
                        <div class="col-md-3">
                            <p>@problem.Value.Name</p>
                        </div>
                        <div class="col-md-2">
                            <p>@problem.Key.Points</p>
                        </div>
                        <div class="col-md-2">
                            <p>
                                @Html.ActionLink("Details", "Detail", "Problem", new { id = problem.Key.ID }, htmlAttributes: null)
                            </p>
                        </div>
                        <a onclick="seeTags(@problem.Key.ID);" href="#">Show tags</a>
                            <div class="col-md-2" id="tags/@problem.Key.ID" hidden>
                                @{
                                    if (@problem.Key.Tags.Count == 0)
                                    {
                                        <p>No tags to show</p>
                                    }
                                    foreach (var tag in problem.Key.Tags)
                                    {
                                        <p>@tag.Text</p>
                                    }
                                }
                        </div>

                    </div>
                </div>
            }
        }
    </div>
</div>
