@model SnippetgrabClasslibrary.Models.User

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoinDate)
        </dt>

        <dd>
        @{
            var date = Model.JoinDate.ToShortDateString();
        }   
            @Html.DisplayFor(model => @date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reputation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reputation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
